h1, h2, p {
    text-align: center;
}

h1, h2 {
    font-family: Impact, serif;
}


body {
    font-family: sans-serif;
    background-image: url(./assets/beans.jpg);
}

.established {
    font-style: italic;

}

hr {
    height: 2px;
    border-color: brown;
    background-color: brown;
}

h1 {
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 15px;
}

h2 {
    font-size: 30px;
}

.menu {
    width: 80%;
    background-color: burlywood;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 500px;
}

.item p {
    font-size: 18px;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
}

.flavor, .dessert {
    text-align: left;
    width: 75%;
}

.price {
    text-align: right;
    width: 25%;
}

.bottom-line {
    margin-top: 25px;
}

img {
    margin-top: -25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* FOOTER */

footer {
    font-size: 14px;
}

a {
    color: black;

}

a:visited { color: black; }

a:hover { color: brown; }

a:active { color: brown; }

.address {
    margin-bottom: 5px;
}